body {
    background-color: #F3F3F3;
    color: #222;
}

a {
    color: #4A92CC;
}

a:hover,
a:active,
a:focus {
    color: #254966;
}

.Header,
.Footer {
    color: #eee;
}

.Card {
    background-color: #fff;
}

.Btn.CardAddValue {
    background: #FF3709;
}

.Footer {
    background-color: #254966;
}

.Toolbar {
    background-color: #EF2D00;
}