<form name="newTrack" class="CenterForm fullWidth">
    <label for="trackTitle" class="hidden">Track title</label>
    <input type="text" name="name" id="trackTitle" placeholder="Track title" ng-model="newCtrl.track.title"/>

    <select name="type" id="dataType" ng-model="newCtrl.track.type">
        <option selected="selected" value="0">Proportion</option>
        <option value="1">List</option>
        <option value="2">Binary</option>
    </select>

    <input type="submit" ng-click="newCtrl.create(newCtrl.track)" class="Btn" value="Create"/>
</form>