<div class="grid-3">
    <article class="Card" ng-repeat="track in indexCtrl.tracks">
        <h3 class="CardTitle">
            <a href="#/track/{{track.id}}">{{track.name}}</a>
        </h3>
        <!--<time {{bind-attr datetime='track.creationDate'}}>{{track.creationDate}}</time>-->

        <canvas id='graph{{track.id}}' class="chart chart-line"></canvas>

        <a href="#/track/{{track.id}}/new/{{track.type}}" class='Btn CardAddValue'>Add</a>
    </article>
</div>

<!-- Refactor in a directive -->
<aside class="ToolbarContainer">
    <nav>
        <ul class="Toolbar">
            <li class="ToolbarItem"><a href="#/tracks/new">+</a></li>
        </ul>
    </nav>
</aside>